<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/style.css" />
    <title><%= titulo %></title>
  </head>
  <body>

<nav class="barraNavegacao">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Ateliê Raphietro</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">    
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/servicos">Serviços</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/adm">Espaço ADM</a>
        </li>

      </ul>
    </div>
  </div>
</nav>