<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Site</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id = "root">
        <div class ="App">
            <div class = "dashboard-container">
                <header class="dashboard-header">
                    <div style="width: 83px;"></div>
                        <img alt="Raphietro Atelier Logo" class="dashboard-logo" src="/image/logo-raphietro-DpL_DJD5.png">
                    <button class="logout-button">Sair</button>
                </header>
                <div class="dashboard-content">
                    <button class="dashboard-button" onclick="window.location.href='/pedidos'">Pedidos</button>
                    <button class="dashboard-button" onclick="window.location.href='/login'">Administração</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>