<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

    <form action="/login" method="POST">
        <div>
            <label for="usuario">usuario</label>
            <br>
            <input type="text" id="usuario" name="usuario">
        </div>
        <br>
        <div>
            <label for="senha">senha</label>
            <br>
            <input type="password" id="senha" name="senha">
        </div>
        <br>
        <button type="submit">Enviar</button>
    </form>

</body>
</html>