<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Site</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <main>
   <div id = "root">
        <div class ="App">
            <div class = "dashboard-container">
                <header class="dashboard-header">
                    <div style="width: 83px;"></div>
                        <img alt="Raphietro Atelier Logo" class="dashboard-logo" src="/image/logo-raphietro-DpL_DJD5.png">
                    <button class="logout-button">Sair</button>
                </header>
                <div >
             <div class="container-forms">
            
            <section class="form-login">
                <h2>Login</h2>
                <form action="/login" method="POST">
                    <div>
                        <label class="label-forms-login" for="login-usuario">Usuário</label>
                        <input type="text" id="login-usuario" name="usuario" required>
                    </div>
                    <div>
                        <label class="label-forms-login" for="login-senha">Senha</label>
                        <input type="password" id="login-senha" name="senha" required>
                    </div>
                    <button class ="login-button" type="submit">Entrar</button>
                </form>
            </section>

            <section class="form-cadastro">
                <h2>Cadastro</h2>
                
                <form  action="/cadastro" method="POST">
                    
                    <div>
                        <label class="label-forms-login"for="nome">Nome</label>
                        <input type="text" id="nome" name="nome" required>
                    </div>
                                          
                    <div>
                        <label class="label-forms-login" for="email">E-mail</label>
                          

                        <input type="email" id="email" name="email" required>
                    </div>
                    
                    <div class="div-cad-sexo">
                        <label  for="sexo">Sexo</label>
                        <select  id="sexo" name="sexo" >
                            <option value="" selected disabled>Selecione</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Feminino">Feminino</option>
                            <option value="Outro">Outro</option>
                        </select>
                    </div>
                
                    <div>
                        <label  class="label-forms-login"for="telefone">Telefone</label>
                          

                        <input type="tel" id="telefone" name="telefone" pattern="[0-9]{10,11}" title="Telefone com DDD (ex: 11987654321)">
                    </div>
                      
                    <div>
                        <label class="label-forms-login" for="cadastro-senha">Senha</label>
                          

                        <input type="password" id="cadastro-senha" name="senha" required>
                    </div>
                      
                    <button class ="login-button" >Cadastrar</button>
                </form>
            </section>
        </div>
                </div>
            </div>
        </div>
    </div>
</div>
        

       
    </main>
</body>
</html>
